.main{
  display: inline-flex;
  width:100%;
  align-items: flex-end;
  height: 150px;
  align-content: flex-end;
  margin-bottom: 0px;
  padding-bottom: 0px;
  vertical-align: bottom;
  background-color: blue;
}
.mat-icon{
  font-size: 64px;
  width: 65px;

}
.text-holder h3{
  position:relative;
  bottom: -10px;
}
.container{
  display: flex;
  padding: 8px;
  align-items: flex-end;
  vertical-align: bottom;
  height: 50%;
}
